.item img{
    width: 100%;
    filter: brightness(55%);
}

.shadow-click {
    background-color: #fff;
    transition: box-shadow 0.1s ease-in-out;
  }
  
.shadow-click:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

.header{
    background-image: url('http://127.0.0.1:8000/img/background-navbar.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}